<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Some Website - {{pageTitle}}</title>
        {{> nav_styling}}
    </head>
    <body>
        {{> header}}
        <p>{{welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>
